<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tenant Information Form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600&display=swap">
</head>
<body>
<div class="container form">
  <h2>Tenant Information Form</h2>
  <form id="tenant-information-form" method="POST" class="needs-validation" novalidate>

    <!-- Page 1 -->
    <div class="form-page" id="page1">
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name:</label>
          <!-- <small class="form-text text-muted">Please provide your first name, middle name (if applicable), and last name.</small> -->
          <input type="text" class="form-control" id="fullName" name="fullName" required>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Tenant Address:</label>
          <small class="form-text text-muted">Please provide the flat letter and street address of the Bitprop flat you are living in.</small>
          <input type="text" class="form-control" id="address" name="address" required>
        </div>
        <div class="mb-3">
          <label for="contactNumber" class="form-label">Primary Contact Number:</label>
          <input type="text" class="form-control" id="contactNumber" name="contactNumber" pattern="0[0-9]{9}" placeholder="0123456789" required inputmode="numeric" minlength="10" maxlength="10">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email Address:</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="button" id="next1" class="btn btn-primary">Next</button>
        <br><br>
        <div class="progress-container">
          <div class="progress-bar" id="progressBarPage1"></div>
        </div>
        <div class="page-counter" id="pageCounter1"></div>
      </div>
    
    <!-- Page 2: Employment & Household Information -->
<div class="form-page" id="page2" style="display:none;">
    <div class="mb-3">
      <label for="jobTitle" class="form-label">Job Title / Employment Status:</label>
      <input type="text" class="form-control" id="jobTitle" name="jobTitle" required>
    </div>
    <div class="mb-3">
      <label for="incomeBracket" class="form-label">Income Bracket:</label>
      <select class="form-control" id="incomeBracket" name="incomeBracket" required>
        <option value="">Select</option>
        <option value="R0-R2000">R0-R2000</option>
        <option value="R2000-R5000">R2000-R5000</option>
        <option value="R5000-R10000">R5000-R10000</option>
        <option value="R0-R2000">R10000-R15000</option>
        <option value="R2000-R5000">R15000-R25000</option>
        <option value="R5000-R10000">R25000 and above</option>
        <!-- ... other options ... -->
      </select>
    </div>
    <div class="mb-3">
      <label for="residents" class="form-label">How many people live in the flat?</label>
      <input type="number" class="form-control" id="residents" name="residents" required>
    </div>
    <div class="mb-3">
      <label for="householdSetup" class="form-label">Distribution of tenants by setup:</label>
      <select class="form-control" id="householdSetup" name="householdSetup" required>
        <option value="">Select</option>
        <option value="single">Single</option>
        <option value="couple">Couple</option>
        <option value="single">Single Parent</option>
        <option value="couple">Family</option>
        <!-- ... other options ... -->
      </select>
    </div>
    <button type="button" onclick="prevPage(1)" class="btn btn-secondary">Previous</button>
    <button type="button"id="next2" class="btn btn-primary">Next</button>
    <br><br>
    <div class="progress-container">
      <div class="progress-bar" id="progressBarPage2"></div>
    </div>
    <div class="page-counter" id="pageCounter2"></div>
  </div>
  
    <!-- Page 3: Previous Housing & References -->
    <div class="form-page" id="page3" style="display:none;">
        <div class="mb-3">
          <label for="previousHousing" class="form-label">Before living in this flat, what sort of dwelling were you living in?</label>
          <select class="form-control" id="previousHousing" name="previousHousing" required>
            <option value="">Select</option>
            <option value="flat">Flat</option>
            <option value="house">House</option>
            <option value="studentHousing">Student Housing</option>
            <option value="informalDwelling">Informal Dwellling</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="mb-3">
            <label for="previousArea" class="form-label">Where did you live before moving here?</label>
            <small class="form-text text-muted">Provide area/suburb/city/country etc.</small>
            <input type="text" class="form-control" id="previousArea" name="previousArea" required>
        </div>
        <div class="mb-3">
          <label for="rentalHistory" class="form-label">Rental History: Have you rented a property before? If yes, please provide details of your most recent rental experience.</label>
          <textarea class="form-control" id="rentalHistory" name="rentalHistory" rows="3" placeholder="For example, I stayed in a share-house and I enjoyed it because my room received a lot of light throughout the day." required></textarea>
        </div>
        <br>
        <div class="mb-3">
            <label for="previousArea" class="form-label" style="font-weight: bold;">Please select Yes or No for each of the following questions:</label>
        </div>
        <div class="mb-3">
            <label for="leaseUnderstanding" class="form-label">I have a clear understanding of the terms and conditions outlined in my lease agreement.</label><br>
            <input type="radio" id="leaseUnderstandingYes" name="leaseUnderstanding" value="yes" onclick="toggleTextBox(false)" required>
            <label for="leaseUnderstandingYes">Yes</label><br>
            <input type="radio" id="leaseUnderstandingNo" name="leaseUnderstanding" value="no" onclick="toggleTextBox(true)" required>
            <label for="leaseUnderstandingNo">No</label>
        </div>
        <div id="textBoxDiv" style="display:none; margin-top:10px; margin-bottom:10px;">
            <label for="moreInfo">Please provide more information:</label><br>
            <textarea id="moreInfo" name="moreInfo" rows="4" cols="50"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="maintenanceResponsibility">Are you aware of your responsibilities for general maintenance and upkeep of the Bitprop flat?</label><br>
            <input type="radio" id="maintenanceResponsibilityYes" name="maintenanceResponsibility" value="yes" onclick="toggleMaintenanceTextBox(false)" required>
            <label for="maintenanceResponsibilityYes">Yes</label><br>
            <input type="radio" id="maintenanceResponsibilityNo" name="maintenanceResponsibility" value="no" onclick="toggleMaintenanceTextBox(true)" required>
            <label for="maintenanceResponsibilityNo">No</label>
        </div>
        <div id="maintenanceTextBoxDiv" style="display:none; margin-top:10px; margin-bottom:10px;">
            <label for="maintenanceMoreInfo">Please provide more information:</label><br>
            <textarea id="maintenanceMoreInfo" name="maintenanceMoreInfo" rows="4" cols="50"></textarea>
        </div>
        
        
        <!-- <div class="mb-3">
          <label for="references" class="form-label">Can you provide references?</label>
          <input type="checkbox" id="references" name="references" required>
          <label for="references">Yes</label>
        </div>
        <div class="mb-3">
          <label for="numReferences" class="form-label">How many references can you provide?</label>
          <input type="number" class="form-control" id="numReferences" name="numReferences" required>
        </div> -->
        <button type="button" onclick="prevPage(2)" class="btn btn-secondary">Previous</button>
        <button type="button" id="next3" class="btn btn-primary">Next</button>
        <br><br>
        <div class="progress-container">
          <div class="progress-bar" id="progressBarPage3"></div>
        </div>
        <div class="page-counter" id="pageCounter3"></div>
      </div>
    


      <!-- Page 4: Ratings -->
      <div class="form-page" id="page4" style="display:none;">
        <h3>Ratings</h3>
        <div class="mb-3">
            <label for="previousArea" class="form-label" style="font-weight: bold;">On a scale of 1-5, where 1 means extremely dissatisfied and 5 means extremely satisfied, please rate the following:</label>
        </div>
        <!-- Place this where you want the form sections to be generated -->
        <div class='mb-3' id="ratingFormSection"></div>
        <!-- Insert a submit button or a button navigating to the next page, depending on your form structure -->
        <button type="button" onclick="prevPage(3)" class="btn btn-secondary">Previous</button>
        <button type="button" id="next4" class="btn btn-primary">Next</button>
        <br><br>
        <div class="progress-container">
          <div class="progress-bar" id="progressBarPage4"></div>
        </div>     
        <div class="page-counter" id="pageCounter4"></div>   
    </div>

    <!-- Page 5: Bitprop Product Feedback -->
<div class="form-page" id="page5" style="display:none;">
    <h3>Bitprop Product Feedback</h3>
  
    <!-- Build Quality Section -->
    <div class="mb-3">
      <label for="buildQuality" class="form-label">Build Quality: E.g. Describe what you think of the quality of materials inside and outside the flats, such as the paint, cupboards etc.</label>
      <textarea class="form-control" id="buildQuality" name="buildQuality" rows="3" placeholder=""></textarea>
    </div>
  
    <!-- Features Section -->
    <div class="mb-3">
      <label for="featuresIssues" class="form-label">Features: E.g. Describe any issues with fixtures, like loose door handles.</label>
      <textarea class="form-control" id="featuresIssues" name="featuresIssues" rows="3" placeholder=""></textarea>
    </div>
  
    <!-- Amenities Ranking Section -->
    <div class="mb-3">
        <label class="form-label">Amenities Importance:</label>
        <small class="form-text text-muted">Rank the following amenities (4=Most Important, 1=Least Important).</small>
        
        <div class="mb-1">
          <label for="amenityParking" class="form-label d-inline-block w-50">Parking space:</label>
          <input type="number" class="form-control d-inline-block w-25" id="amenityParking" name="amenityParking">
        </div>
      
        <div class="mb-1">
          <label for="amenityLaundry" class="form-label d-inline-block w-50">Laundry service:</label>
          <input type="number" class="form-control d-inline-block w-25" id="amenityLaundry" name="amenityLaundry">
        </div>
      
        <div class="mb-1">
          <label for="amenityWiFi" class="form-label d-inline-block w-50">Wi-Fi connection point:</label>
          <input type="number" class="form-control d-inline-block w-25" id="amenityWiFi" name="amenityWiFi">
        </div>
      
        <div class="mb-1">
          <label for="amenityDSTV" class="form-label d-inline-block w-50">DSTV connection point:</label>
          <input type="number" class="form-control d-inline-block w-25" id="amenityDSTV" name="amenityDSTV">
        </div>
      </div>
      
  
    <!-- Design Feedback Section -->
    <div class="mb-3">
      <label for="designFeedback" class="form-label">Please share your thoughts on our design, considering points such as the layout, size, interior style and exterior style.</label>
      <textarea class="form-control" id="designFeedback" name="designFeedback" rows="3" placeholder="Share your thoughts on the layout and size of your flat."></textarea>
    </div>
  
    <!-- Water Quality Section -->
    <div class="mb-3">
      <label for="waterQuality" class="form-label">Water Quality: Describe the water quality, pressure, temperature, etc.</label>
      <textarea class="form-control" id="waterQuality" name="waterQuality" rows="3"></textarea>
    </div>
  
    <!-- Electricity Section -->
    <div class="mb-3">
      <label for="electricityExperience" class="form-label">Electricity Experience: Describe your experience with the electrical supply.</label>
      <textarea class="form-control" id="electricityExperience" name="electricityExperience" rows="3"></textarea>
    </div>
  
    <!-- Maintenance Section -->
    <div class="mb-3">
        <label for="maintenanceIssues" class="form-label">Maintenance Issues: Describe any ongoing maintenance issues you've experienced.</label>
        <textarea class="form-control" id="maintenanceIssues" name="maintenanceIssues" rows="3"></textarea>
      </div>

    <!-- Safety Section -->
    <div class="mb-3">
      <label for="safetyFeedback" class="form-label">Safety Feedback: How safe do you find the flats? Provide comments, e.g. about gate and window functionality.</label>
      <textarea class="form-control" id="safetyFeedback" name="safetyFeedback" rows="3"></textarea>
    </div>
  
    <!-- Navigation Buttons -->
    <button type="button" onclick="prevPage(4)" class="btn btn-secondary">Previous</button>
    <!-- Adjust navigation as necessary -->
    <button type="button" id="next5" class="btn btn-primary">Next</button> <!-- If this is not the last page -->
    <br><br>
    <div class="progress-container">
      <div class="progress-bar" id="progressBarPage5"></div>
    </div>
    <div class="page-counter" id="pageCounter5"></div>    
  </div>
  
  <!-- Page 6: Motivation & Communication Feedback -->
<div class="form-page" id="page6" style="display:none;">
    <h3>Motivation & Communication Feedback</h3>
  
    <!-- Experience of Bitprop Service -->
    <div class="mb-3">
      <label for="serviceExperience" class="form-label">Experience of Bitprop Service: Share your thoughts on Bitprop's assistance and how we respond to and resolve issues.</label>
      <textarea class="form-control" id="serviceExperience" name="serviceExperience" rows="3"></textarea>
    </div>
  
    <!-- Communication - Channels -->
    <div class="mb-3">
      <label for="communicationChannel" class="form-label">Please share your thoughts on our communication in general, considering points such as the channel (WhatsApp), frequency (how often we reach out) and quality (how helpful the information we provide is).</label>
      <textarea class="form-control" id="communicationChannel" name="communicationChannel" rows="3" placeholder=""></textarea>
    </div>
  
    <!-- Preferred Language -->
    <div class="mb-3">
      <label for="preferredLanguage" class="form-label">Preferred Language:</label>
      <select class="form-control" id="preferredLanguage" name="preferredLanguage">
        <option value="">Select</option>
        <option value="english">English</option>
        <option value="isixhosa">isiXhosa</option>
        <option value="afrikaans">Afrikaans</option>
        <!-- Add other languages as necessary -->
      </select>
    </div>
  
    <!-- Response Time -->
    <div class="mb-3">
      <label for="responseTime" class="form-label">Response Time Feedback: How long does it take for Bitprop to respond to your messages?</label>
      <textarea class="form-control" id="responseTime" name="responseTime" rows="3"></textarea>
    </div>
  
    <!-- Navigation Buttons -->
    <button type="button" onclick="prevPage(5)" class="btn btn-secondary">Previous</button>
        <button type="button" id="next6" class="btn btn-primary">Next</button>
        <br><br>
        <div class="progress-container">
          <div class="progress-bar" id="progressBarPage6"></div>
        </div> 
        <div class="page-counter" id="pageCounter6"></div>       
  </div>
  
  <!-- Page 7: Maintenance & Experience Feedback -->
<div class="form-page" id="page7" style="display:none;">
    <h3>Maintenance & Experience Feedback</h3>
  
    <!-- Maintenance Process -->
    <div class="mb-3">
      <label for="maintenanceProcess" class="form-label">Maintenance Process Feedback: Describe how the maintenance process has affected you and how issues were resolved in your Bitprop flat.</label>
      <textarea class="form-control" id="maintenanceProcess" name="maintenanceProcess" rows="3"></textarea>
    </div>
  
    <!-- Rental Application Process -->
    <div class="mb-3">
      <label for="rentalApplicationProcess" class="form-label">Rental Application Process Feedback: Share your experience with the rental application process for a Bitprop flat.</label>
      <textarea class="form-control" id="rentalApplicationProcess" name="rentalApplicationProcess" rows="3"></textarea>
    </div>
  
    <!-- Rental Payment Process -->
    <div class="mb-3">
      <label for="rentalPaymentProcess" class="form-label">Rental Payment Process Feedback: Describe your experience with the rental payment process through Bitprop's system.</label>
      <textarea class="form-control" id="rentalPaymentProcess" name="rentalPaymentProcess" rows="3"></textarea>
    </div>
  
    <!-- Moving Process -->
    <div class="mb-3">
      <label for="movingProcess" class="form-label">Moving Process Feedback: Share your thoughts on the moving process, including moving in and out of a Bitprop flat.</label>
      <textarea class="form-control" id="movingProcess" name="movingProcess" rows="3"></textarea>
    </div>
  
    <!-- Reputation -->
    <div class="mb-3">
      <label for="reputation" class="form-label">Bitprop's Service Reputation: How would you describe Bitprop's service to friends and family? Share your opinion on how Bitprop operates.</label>
      <textarea class="form-control" id="reputation" name="reputation" rows="3"></textarea>
    </div>
  
    <!-- Experience of Landlord -->
    <div class="mb-3">
      <label for="landlordComfort" class="form-label">Landlord Property Comfort: Describe your comfort level regarding your landlord's property, considering aspects like safety.</label>
      <textarea class="form-control" id="landlordComfort" name="landlordComfort" rows="3"></textarea>
    </div>
    
    <div class="mb-3">
      <label for="landlordPrivacy" class="form-label">Landlord Privacy Respect: Tell us about how your landlord respects your privacy. Do they enter your space without prior notice?</label>
      <textarea class="form-control" id="landlordPrivacy" name="landlordPrivacy" rows="3"></textarea>
    </div>
    
    <div class="mb-3">
      <label for="landlordResponse" class="form-label">Landlord Response Feedback: Describe how your landlord communicates and responds to you as a tenant. Consider their tone and level of respect.</label>
      <textarea class="form-control" id="landlordResponse" name="landlordResponse" rows="3"></textarea>
    </div>
  
    <button type="button" onclick="prevPage(6)" class="btn btn-secondary">Previous</button>
        <button type="button" id="next7" class="btn btn-primary">Next</button>
        <br><br>
        <div class="progress-container">
          <div class="progress-bar" id="progressBarPage7"></div>
        </div>      
        <div class="page-counter" id="pageCounter7"></div>  
  </div>
  
  <!-- Page 8: Area, Online System & Support Feedback -->
<div class="form-page" id="page8" style="display:none;">
    <h3>Area, Online System & Support Feedback</h3>
  
    <!-- Area Choice -->
    <div class="mb-3">
      <label for="areaChoice" class="form-label">Please tell us more about how you chose to move to the suburb/area you currently live in? What benefits or concerns did you consider when making this decision?</label>
      <textarea class="form-control" id="areaChoice" name="areaChoice" rows="3" placeholder=""></textarea>
    </div>
   
    <!-- Support Suggestions -->
    <div class="mb-3">
      <label for="supportSuggestions" class="form-label">Support Improvement Suggestions: Provide suggestions on how Bitprop could improve its services. Consider all aspects of the service provided.</label>
      <textarea class="form-control" id="supportSuggestions" name="supportSuggestions" rows="3"></textarea>
    </div>
  
    <!-- Navigation Buttons -->
    <button type="button" onclick="prevPage(7)" class="btn btn-secondary">Previous</button>
    <button type="submit" id="submit" class="btn btn-primary">Submit</button> <!-- If this is the last page -->
    <br><br>
    <div class="progress-container">
      <div class="progress-bar" id="progressBarPage8"></div>
    </div>    
    <div class="page-counter" id="pageCounter8"></div>
  </div>
</div>
  

  </form>
</div>


<script>

    // Function to initialize the form with page 1 displayed
    function init() {
        nextPage(1);
    }

    // Run the init function when the document is fully loaded
    window.onload = init;

    function validatePage(pageNumber) {
        console.log('validatePage called for page ', pageNumber);
        // Use conditions to apply different validations based on the page number
        if (pageNumber === 1) {
          if (!validateTextInput('fullName') ||
            !validateTextInput('address') ||
            !validatePhone('contactNumber') ||
            !validateTextInput('email')
          ) {
            return false;
          } else {
            return true;
          }
        } else if (pageNumber === 2) {
          if (!validateTextInput('jobTitle') ||
          !validateDropdown('incomeBracket') ||
          !validateNumber('residents') ||
          !validateDropdown('householdSetup')
          ) {
            return false;
          } else {
            return true;
          }
        } else if (pageNumber === 3) {
          if (!validateTextInput('rentalHistory') ||
          !validateDropdown('previousHousing') ||
          !validateTextInput('previousArea') ||
          !validateRadioInput('leaseUnderstanding') ||
          !validateRadioInput('maintenanceResponsibility')
          ) {
            return false;
          } else {
            return true;
          }
        } else if (pageNumber === 4) {
          if (!validateRadioInput('question1') ||
          !validateRadioInput('question2') ||
          !validateRadioInput('question3') ||
          !validateRadioInput('question4') ||
          !validateRadioInput('question5') ||
          !validateRadioInput('question6') ||
          !validateRadioInput('question7') ||
          !validateRadioInput('question8') ||
          !validateRadioInput('question9') ||
          !validateRadioInput('question10') ||
          !validateRadioInput('question11')
          ) {
            return false;
          } else {
            return true;
          }
        } else if (pageNumber === 5) {
          if (!validateTextInput('buildQuality') ||
          !validateTextInput('featuresIssues') ||
          !validateNumber('amenityParking') ||
          !validateNumber('amenityLaundry') ||
          !validateNumber('amenityWiFi') ||
          !validateNumber('amenityDSTV') ||
          !validateTextInput('designFeedback') ||
          !validateTextInput('waterQuality') ||
          !validateTextInput('electricityExperience') ||
          !validateTextInput('maintenanceIssues') ||
          !validateTextInput('safetyFeedback')
          ) {
            return false;
          } else {
            return true;
          }
        } else if (pageNumber === 6) {
          if (!validateTextInput('serviceExperience') ||
          !validateTextInput('communicationChannel') ||
          !validateDropdown('preferredLanguage') ||
          !validateTextInput('responseTime')
          ) {
            return false;
          } else {
            return true;
          }
        } else if (pageNumber === 7) {
          if (!validateTextInput('maintenanceProcess') ||
          !validateTextInput('rentalApplicationProcess') ||
          !validateTextInput('rentalPaymentProcess') ||
          !validateTextInput('movingProcess') ||
          !validateTextInput('reputation') ||
          !validateTextInput('landlordComfort') ||
          !validateTextInput('landlordPrivacy') ||
          !validateTextInput('landlordResponse')
          ) {
            return false;
          } else {
            return true;
          }
        } else if (pageNumber === 8) {
          if (!validateTextInput('areaChoice') ||
          !validateTextInput('supportSuggestions')
          ) {
            return false;
          } else {
            return true;
          }
        }

    }


    function validateTextInput(id) {
        const input = document.getElementById(id);
        if(input.value.trim() === "") {
            input.style.borderColor = 'red';
            return false;
        } else {
            input.style.borderColor = '';
            return true;
        }
    }

    function validatePhone(id) {
        const phoneInput = document.getElementById(id);
        if (phoneInput.value.length !== 10 || phoneInput.value[0] !== '0') {
          phoneInput.style.borderColor = 'red';
          return false;
        } else {
          phoneInput.style.borderColor = '';
          return true;
        }
    }
  

    function validateRadioInput(name) {
        const radios = document.getElementsByName(name);
        for(let i = 0; i < radios.length; i++) {
            if(radios[i].checked) {
                return true;
            }
        }
        alert('Please answer all questions before proceeding.');
        return false;
    }

    function validateDropdown(dropdownId) {
        // Get the dropdown element by its ID
        const dropdown = document.getElementById(dropdownId);

        // Get the selected index and value
        const selectedIndex = dropdown.selectedIndex;
        console.log('selected index:', selectedIndex);
        const selectedValue = dropdown.options[selectedIndex].value;
        console.log('selectedvalue:', selectedValue);

        // Validate the selected value
        if (selectedValue === "" || selectedValue === "placeholderValue" /* or any invalid value */) {
            // Optionally: Provide a visual cue for invalid selection
            dropdown.style.borderColor = 'red';
            console.log('validate dropdown false');
            return false; // Invalid selection
        } else {
            dropdown.style.borderColor = ''; // Reset border color
            console.log('validate dropdown true');
            return true; // Valid selection
        }
    }
    let min = 0;
    let max = 100;
    function validateNumber(inputId, min, max) {
        // Get the input element by its ID
        const numberInput = document.getElementById(inputId);

        // Get the input value and parse it as a number
        const numberValue = parseInt(numberInput.value, 10);

        // Validate the number value
        if (isNaN(numberValue) || numberValue < min || numberValue > max) {
            // Optionally: Provide a visual cue for invalid input
            numberInput.style.borderColor = 'red';
            return false; // Invalid number input
        } else {
            numberInput.style.borderColor = ''; // Reset border color
            return true; // Valid number input
        }
    }



    function nextPage(pageNumber) {
      var phoneInput = document.getElementById('contactNumber');
      phoneInput.style.borderColor = '';
      // if (pageNumber === 1 && (phoneInput.value.length !== 10)) {
      //   phoneInput.style.borderColor = 'red';
      //   return;
      // }
        // Hide all pages
        document.querySelectorAll('.form-page').forEach(function(page) {
        page.style.display = 'none';
        });
        // Show the specified page
        document.getElementById('page' + pageNumber).style.display = 'block';

        // Update progress bar
        var progressBar = document.getElementById('progressBarPage' + pageNumber);
        if (progressBar) {
          var width = (pageNumber / 8) * 100;
          progressBar.style.width = width + '%';
        }

        // Update page counter
        var pageCounter = document.getElementById('pageCounter' + pageNumber);
        if (pageCounter) {
          pageCounter.innerText = 'Page ' + pageNumber + '/' + 8;
        }

        window.scrollTo(0, 0);
    }
    
    function prevPage(pageNumber) {
    // Hide all pages
    document.querySelectorAll('.form-page').forEach(function(page) {
        page.style.display = 'none';
    });
    // Show the specified previous page
    document.getElementById('page' + pageNumber).style.display = 'block';
    window.scrollTo(0, 0);
    }

    function toggleTextBox(shouldShow) {
        const textBoxDiv = document.getElementById('textBoxDiv');
        textBoxDiv.style.display = shouldShow ? 'block' : 'none';
    }

    function toggleMaintenanceTextBox(shouldShow) {
        const maintenanceTextBoxDiv = document.getElementById('maintenanceTextBoxDiv');
        maintenanceTextBoxDiv.style.display = shouldShow ? 'block' : 'none';
    }


    // Array of questions
    const questions = [
        "How satisfied are you with Bitprop's services in terms of how issues are resolved?",
        "How satisfied are you with Bitprop's communication methods, such as how we reach out to you?",
        "How satisfied are you with the design of your Bitprop flat in terms of livability?",
        "How satisfied are you with your experience applying for this flat?",
        "How pleased are you with how Bitprop team members have treated you?",
        "Would you encourage someone else to apply to rent a Bitprop flat?",
        "How satisfied are you with how your landlord has treated you as a tenant?",
        "How is your overall experience with our rent payment method? (How you pay rent each month)",
        "How helpful has the assistance been from any of the Bitprop team if you have had any questions or issues that you've needed our help resolving?",
        "How well are maintenance issues resolved by Bitprop?",
        "How would you rate the moving process? (How was the experience of moving into the flat?"
    ];

    const formSection = document.getElementById('ratingFormSection');

    questions.forEach((question, index) => {
    // Create a new div for the question
    const questionDiv = document.createElement('div');
    questionDiv.className = 'mb-3';

    // Create and set the label
    const label = document.createElement('label');
    label.className = 'form-label';
    label.htmlFor = `question${index + 1}`;
    label.innerText = question;
    questionDiv.appendChild(label);

    // Create a div for the radio buttons
    const radioGroupDiv = document.createElement('div');

    // Loop to create radio buttons
    for (let i = 1; i <= 5; i++) {
        // Create a new div for the radio button
        const radioDiv = document.createElement('div');
        radioDiv.className = 'form-check form-check-inline';

        // Create the input element
        const input = document.createElement('input');
        input.type = 'radio';
        input.className = 'form-check-input';
        input.id = `question${index + 1}option${i}`;
        input.name = `question${index + 1}`;
        input.value = i;

        // Create and set the label for the radio button
        const radioLabel = document.createElement('label');
        radioLabel.className = 'form-check-label';
        radioLabel.htmlFor = `question${index + 1}option${i}`;
        radioLabel.innerText = i;

        // Append the input and label to the radio div
        radioDiv.appendChild(input);
        radioDiv.appendChild(radioLabel);

        // Append the radio div to the radio group div
        radioGroupDiv.appendChild(radioDiv);
    }

    // Append the radio group div to the question div
    questionDiv.appendChild(radioGroupDiv);

    // Append the question div to the form section
    formSection.appendChild(questionDiv);
    });

    function handleSubmit() {
      // You may want to do form validation here

      // After successful validation and form submission to the server
      window.location.href = 'tenant_confirmation.html';
      return false; // Prevent the form from submitting the traditional way
    } 

    const phoneInput = document.getElementById('contactNumber');
    // const phoneError = document.getElementById('phone-error');

    phoneInput.addEventListener('input', function () {
      // Remove any non-numeric characters
      this.value = this.value.replace(/\D/g, '');

      // Ensure the first digit is '0'
      if (this.value.length > 0 && this.value[0] !== '0') {
        this.value = '0' + this.value;
      }

      // Limit to 10 digits
      if (this.value.length > 10) {
        this.value = this.value.substring(0, 10);
      }

      // Clear the error message when the user corrects the input
      // phoneError.textContent = '';
    });


    // For each next button, dynamically create event listeners
    for(let i = 1; i < 8; i++) {
      console.log('next' + i);
        document.getElementById('next' + i).addEventListener('click', function(e) {
            if(validatePage(i)) {
              console.log('Page validated', i);
                nextPage(i + 1);  // Proceed to the next page if validation passes
            } else {
              console.log('Page not validated');
                e.preventDefault(); // Prevent moving to the next page
                // Display error or warning message if validation fails
            }
        });
    }

    document.getElementById('tenant-information-form').addEventListener('submit', function(e){
        e.preventDefault();
        if(validatePage(8)) {
              console.log('Page validated', 8);
            } else {
              console.log('Page not validated');
                return;
            }

        const formData = new FormData(this);
        const formObject = {};
        formData.forEach((value, key) => {
            // Optional: Convert numeric fields to integer
            if (key === 'contactNumber') {
              if (typeof value !== 'string') {
                console.warn('contactNumber should be a string. Converting to string.');
                value = String(value);
              }
              formObject[key] = value;
            } else {
              if (!isNaN(value)) {
                  formObject[key] = parseInt(value, 10);
              } else if (value === 'yes') { // Convert yes to true, if you have boolean fields
                  formObject[key] = true;
              } else if (value === 'no') { // Convert no to false, if you have boolean fields
                  formObject[key] = false;
              } else {
                  formObject[key] = value;
              }
            }
        });


        console.log(formObject);
        
        fetch('https://dashboard-function-app-1.azurewebsites.net/api/tenantInformation?code=oFuv1tfjDX013c_nn_mDQJm04JuxGh6A2K-TlfSaLLGAAzFu-E8pXA==', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formObject)
        })
        .then(response => {
          console.log('Raw Response:', response);
          console.log('Response Body:', response.body);
          if(response.ok) {
            const contentType = response.headers.get("content-type");
            if(contentType && contentType.indexOf("application/json") !== -1) {
              return response.json();
            } else {
              return response.text().then(text=> Promise.reject(text));
            }
          }
          throw new Error('Network response was not ok');
        })
        .then(data => {
          console.log('Success:', data);
          window.location.href = '/success_tenant_information';
        })
        .catch((error) => console.error('Error:', error));
    });


    // You might want to set up form submission logic, input validation, etc.
</script>
</body>
</html>